      <!-- Services Start -->
<section class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">
                Our Services
            </h6>
            <h1 class="mb-5">
                Explore Our
                <span class="text-primary text-uppercase">Services</span>
            </h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-globe fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Online Reservation Management</h5>
                    <p class="text-body mb-0">
                        Hotelier allows users to manage their reservations
                        conveniently through an online platform.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-sticky-note fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Hotel Listing Assistance</h5>
                    <p class="text-body mb-0">
                        Creating comprehensive hotel profiles with detailed descriptions, room types, and photos to showcase the unique features of each hotel.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Hotel Booking Service</h5>
                    <p class="text-body mb-0">
                        Allow users to search for available hotels based on various
                        criteria such as location, browse through a list of hotels,
                        check-in/check-out dates.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-bookmark fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Flexible Booking Options</h5>
                    <p class="text-body mb-0">
                        Offers flexible booking options such as free cancellation or
                        modification policies, allowing users to change their booking
                        plans.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-wheelchair fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Accessibility Features</h5>
                    <p class="text-body mb-0">
                        Ensures that the website and hotel accommodations are
                        accessible to users with disabilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Food & Restaurant</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                        lorem sed diam stet diam sed stet lorem.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->