
<partial name="_HeaderSliderPartial" />
<partial name="_HeaderBookingPartial" />
<partial name="_AboutSectionPartial" />
<section class="container-xxl pb-5">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title text-center text-primary text-uppercase">
    Our Rooms
    </h6>
    <h1 class="mb-5">
        Explore Our <span class="text-primary text-uppercase">Rooms</span>
    </h1>
</div>
<div class="hp-room-section">
    <div class="container-fluid">
    <div class="hp-room-items"> 
        <div class="row">
        <div class="col-lg-3 col-md-6">
             <div
            class="hp-room-item set-bg"
            style="background-image: url('./img/room/room-b1.jpg');"
            data-setbg="./img/room/room-b1.jpg"
            >
            <div class="hr-text">
                <h3>Double Room</h3>
                <h2>199$<span>/Pernight</span></h2>
                <table>
                <tbody>
                    <tr>
                    <td class="r-o">Size:</td>
                    <td>30 ft</td>
                    </tr>
                    <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max persion 5</td>
                    </tr>
                    <tr>
                    <td class="r-o">Bed:</td>
                    <td>King Beds</td>
                    </tr>
                    <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div
            class="hp-room-item set-bg"
            style="background-image: url('./img/room/room-b2.jpg');"
            data-setbg="./img/room/room-b2.jpg"
            >
            <div class="hr-text">
                <h3>Premium King Room</h3>
                <h2>159$<span>/Pernight</span></h2>
                <table>
                <tbody>
                    <tr>
                    <td class="r-o">Size:</td>
                    <td>30 ft</td>
                    </tr>
                    <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max persion 5</td>
                    </tr>
                    <tr>
                    <td class="r-o">Bed:</td>
                    <td>King Beds</td>
                    </tr>
                    <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div
            class="hp-room-item set-bg"
            style="background-image: url('./img/room/room-b3.jpg');"
            data-setbg="./img/room/room-b3.jpg"
            >
            <div class="hr-text">
                <h3>Deluxe Room</h3>
                <h2>198$<span>/Pernight</span></h2>
                <table>
                <tbody>
                    <tr>
                    <td class="r-o">Size:</td>
                    <td>30 ft</td>
                    </tr>
                    <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max persion 5</td>
                    </tr>
                    <tr>
                    <td class="r-o">Bed:</td>
                    <td>King Beds</td>
                    </tr>
                    <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div
            class="hp-room-item set-bg"
            style="background-image: url('./img/room/room-b4.jpg');"
            data-setbg="./img/room/room-b4.jpg"
            >
            <div class="hr-text">
                <h3>Family Room</h3>
                <h2>299$<span>/Pernight</span></h2>
                <table>
                <tbody>
                    <tr>
                    <td class="r-o">Size:</td>
                    <td>30 ft</td>
                    </tr>
                    <tr>
                    <td class="r-o">Capacity:</td>
                    <td>Max persion 5</td>
                    </tr>
                    <tr>
                    <td class="r-o">Bed:</td>
                    <td>King Beds</td>
                    </tr>
                    <tr>
                    <td class="r-o">Services:</td>
                    <td>Wifi, Television, Bathroom,...</td>
                    </tr>
                </tbody>
                </table>
                <a href="#" class="primary-btn">More Details</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<partial name="_ServicesPartial" />

<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Contact Info</h2>
                    <p class="mb-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td class="c-o">Address:</td>
                                <td>856 Cordia Extension. 356, Lake, US</td>
                            </tr>
                            <tr>
                                <td class="c-o">Phone:</td>
                                <td>(12) 345 67890</td>
                            </tr>
                            <tr>
                                <td class="c-o">Email:</td>
                                <td>info.hotilier@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Your Message"></textarea>
                            <button type="submit">Submit Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.0606825994123!2d-72.8735845851828!3d40.760690042573295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e85b24c9274c91%3A0xf310d41b791bcb71!2sWilliam%20Floyd%20Pkwy%2C%20Mastic%20Beach%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1578582744646!5m2!1sen!2sbd"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<!-- Contact Section End -->